$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-rounded{
  @include border-top-radius(99px);
  @include border-bottom-radius(99px);
  padding: 10px 13px
}

//.container{
//  transition: 1s ease-in-out all;
//  // added Panel animation when adding
//  &.ng-enter{
//    transform: scale(.1, .1);
//    &.ng-enter-active{
//      transform: scale(1, 1);
//    }
//  }
//
//  // added Panel animation when removing
//  &.ng-leave{
//    transform: scale(1, 1);
//    &.ng-leave-active{
//      transform: scale(.1, .1);
//    }
//  }
//}

// Gridster styles
.gridster{
  .gridster-item-moving{
    box-shadow: 0 0 20px 1px #666;
  }

  ul{
    .panel{
      .panel-heading{
        transform: translateZ(1px); // Added 1px translate to prevent flickering
        position: relative;
        cursor: move;
      }

      .panel-body{
        transform: translateZ(1px); // Added 1px translate to prevent flickering
        position: relative;
      }
    }

    .panel.panel-preview{
      .module-preview{
        position: absolute;
        opacity: .2;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    .panel.panel-config{
      background: #999;
    }
  }
}

// FlipCard Style
.flip-card{
  perspective: 800;
  position: relative;
  height: 100%;

  // added Panel animation when adding
  &.ng-enter{
    transition: .3s ease-out all;
    transform: scale(.1, .1);
    opacity: 0;
    &.ng-enter-active{
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  // added Panel animation when removing
  &.ng-leave{
    transition: .2s ease-in all;
    transform: scale(1, 1);
    opacity: 1;
    &.ng-leave-active{
      transform: scale(.1, .1);
      opacity: 0;
    }
  }

  .flip-card-container{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .7s ease-out;
    transform-style: preserve-3d;

    &.show-back-side{
      transform: rotateY(180deg);
    }
  }

  .card{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;

    &.face{
    }

    &.tail{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      transform: rotateY(180deg) translateZ(2px);
    }
  }
}
