<div class="container">
<div class="header">
    <h3 class="text-muted">Custom Component Layout</h3>
</div>

    <div class="row">
        <div ng-controller="ModuleLayoutCtrl as moduleLayout" class="gridster col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn btn-primary btn-pill pull-right"
                        ng-click="moduleLayout.addNewModule()">
                        Add New Module
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <div gridster="gridsterOpts">
                        <ul class="list-unstyled">
                            <li gridster-item row="module.row" col="module.col" size-x="module.sizeX" size-y="module.sizeY" ng-repeat="module in moduleLayout.modules">
                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="delete-button pull-right"
                                                 ng-click="moduleLayout.removePanel()"
                                                    ><i class="glyphicon glyphicon-remove-sign"></i></div>
                                            <h3 class="move-handle panel-title">{{ module.label }}</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="btn btn-default config-button pull-right"
                                                 ng-click="moduleLayout.changePanelConfig(this)"
                                                    ><i class="glyphicon glyphicon-pencil"></i></div>
                                        </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> fnHo</p>
</div>
</div>
