    <div class="header">
        <h3 class="text-muted">Custom Component Layout</h3>
    </div>

    <div class="row">
        <div ng-controller="ModuleLayoutCtrl as moduleLayout" class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn btn-primary btn-pill pull-right"
                         ng-click="moduleLayout.addNewModule()">
                        Add New Module
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <div gridster="gridsterOpts">
                        <ul>
                            <li gridster-item="module.grid" ng-repeat="module in moduleLayout.modules">
                                <div class="panel panel-default">
                                    <div class="module-preview" style="background-image: url({{ moduleLayout.getBackgroundImage( module.type ) }})"></div>
                                    <div class="panel-heading move-handle">
                                        <div class="delete-button pull-right"
                                         ng-click="moduleLayout.removePanel($index)" >
                                             <i class="glyphicon glyphicon-remove-sign"></i>
                                        </div>
                                        <h3 class="panel-title">{{ module.label }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="btn btn-default config-button pull-right"
                                         ng-click="moduleLayout.changePanelConfig(this)" >
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> fnHo</p>
    </div>
